.forms{
  display: flex;
  border: 5px solid;
  margin: auto;
  width: 40%;
  padding: 10px;
  font-weight: bold;
  background-color: aquamarine;
}
#but{
  background-color: blueviolet;
  color: azure;
  border-color: black;
}
.imgf{
  height: 28px;
  width: 30px;
}
